section.daily_quote
  .quote
    h2.lead-head I love you for all that you are, all that you have been, and all you're yet to be.
    p.description Quote of the day, from 
      span.underline Love Quotes
