section.description
  .wrapper
    h2.lead-head The most inclusive
      span Free PSD Template
    .lead-text
      p Free for commercial and personal use.
      p You can easily edit its contents and code it for yourself or your client!
    hr.devider
    .main-text
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget nisi eget tortor iaculis tristique. Aliquam tincidunt posuere tortor hendrerit elementum. Nunc laoreet lorem a sem auctor fringilla. Pellentesque dignissim accumsan lobortis. Sed pharetra erat vitae dui imperdiet quis commodo orci dapibus. 
      p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce at nunc libero. Nam metus lorem, rhoncus ac mattis ornare, blandit vel risus.
