//- menu list
include _mixins.jade

footer.footer
  .navigation.wrapper
    .browse.box
      h3 Browse
      ul
        +menu_item("Home", 'home')
        +menu_item("About Us", 'about_us')
        +menu_item("Categories", 'categories')
        +menu_item("Info", 'inifo')
        +menu_item("Services", 'services')
    .shop.box
      h3 Shop
      ul
        +menu_item("Accounts", 'accounts')
        li
          a(href="") Help &amp; Guide
        li
          a(href="") Shipping &amp; Returns
        +menu_item("FAQs", 'faq')
      
    .contact.box
      h3 Contact
      p Quotes PSD Template
          | Rudra Street, 12354 Villa
          | My State - My Country
          | 987658
      br
      p Phone: + 01 234 567 890
          | Fax: + 01 234 567 890
          | graphicsfuel@gmail.com
    .subscribe.box
      h3 Subscribe Now
      p Get our latest news and
        | product updates daily
      form
        input(type="email", placeholder="Email Adress")
        input(type="submit", value="Submit", class="btn")
  .copyright
    p 2016 &copy; Copyright - Quotes PSD Templates. All rights reserved.
    .social-media
      ul
        +social_item("/assets/img/fb.png")
        +social_item("/assets/img/tw.png")
        +social_item("/assets/img/linkedin.png")
        +social_item("/assets/img/youtube.png")
        +social_item("/assets/img/gplus.png")
        +social_item("/assets/img/pinterest.png")   
        +social_item("/assets/img/instagram.png")   
        +social_item("/assets/img/email.png")   
