// menu list
mixin menu_item(item, id)
	li
		a(href="##{id}")= item

header.header
	.logo
		h1 Qoutes
		
	nav
		.nav-menu Menu
		span.close-btn

	.slogan
		h1 Smile
		p it costs you nothing

	.is-displayed
		ul
			+menu_item("Home", 'home')
			+menu_item("About Us", 'about_us')
			+menu_item("Categories", 'categories')
			+menu_item("Gallery", 'gallery')
			+menu_item("Events", 'events')
			+menu_item("Blog", 'blog')
			+menu_item("Contact Us", 'contact_us')
