include _mixins.jade

section.user_quotes
  .wrapper
    h2.lead-head Reasons to be happy
    hr.devider
    .quotes
      +quote("You are alive", "Waking up to see another day is a blessing. Don't take it for granted. Make it count and be happy that you're alive.", "")
      +quote("Someone loves you", "Someone who really loves you sees what a mess you can be, how moody you can get, how hard you are to handle, but still wants you in their life.", "")
      +quote("Enjoy the moment", "Sometimes you will never know the true value of a moment until it becomes a memory.", "")
      +quote("Health is wealth", "It is health that is real wealth and not pieces of gold and silver.", "Mahatma Gandhi")
    .btn-area
      a(href="#", class="btn") More Reasons
