footer.footer
  h3
    font:
      size: 20px
      weight: 600
    text-transform: uppercase
    letter-spacing: 5px
    margin-bottom: 50px
  a,
  p
    color: $black
    letter-spacing: 3px
    line-height: 2em
    margin: 0
  .navigation
    display: flex
    justify-content: space-between
    margin-top: 60px
    margin-bottom: 60px
    .box
      width: 100%
      margin-right: 50px
      &:last-child
        margin-right: 0
    ul
      padding: 0 50px 0 0
      list-style: none

      li
        a
          &:hover
            text-decoration: underline

    .subscribe
      h3
        margin-bottom: 30px
      input[type="email"]
        padding: 10px 15px
        background: $grey-bg
        letter-spacing: 3px
        border: none
        display: block
        margin: 25px 0 20px
        width: 100%
        box-sizing: border-box
        &:focus
          outline: 1.5px solid $grey


    .contact
      max-width: 280px
  .copyright
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    align-items: center
    background: $grey-bg
    padding: 0 100px

    p
      letter-spacing: normal
    ul
      list-style: none
      display: flex
      flex-wrap: wrap
      align-items: center
      justify-content: center
      padding: 0
      li
        margin-right: 10px
        margin-top: 5px
        &:last-child
          margin-right: 0

        a
          opacity: 0.4
          filter: grayscale(100%)
          transition: all 0.25s
          &:hover
            opacity: 0.9

  @media (max-width: 1024px)
    .navigation
      flex-wrap: wrap
      .box
        width: 50%
        max-width: 300px
        box-sizing: border-box
        margin-right: 0
    .copyright
      justify-content: center

  @media (max-width: 720px)
    .navigation
      display: none
    .copyright
      padding: 0 50px
      p
        display: none

  @media (max-width: 420px)
    .copyright
      padding: 0 25px
