doctype html
html(lang="en")
	head
		title= title
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" href="assets/css/app.css")
	
	body
		include _partials/header.jade
		include _partials/description.jade
		include _partials/quotes.jade
		include _partials/user_quotes.jade
		
		include _partials/footer.jade
				
		script(type="text/javascript" src="assets/js/jquery-3.1.1.min.js")
		script(type="text/javascript" src="assets/js/functions.js")
